<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>PlayNFT - The Cross-chain NFT Utility Marketplace</title>
  <meta content="" name="description" />

  <meta content="nft" name="keywords" />

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon" />
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />

  <!-- App CSS Files -->
  <link href="assets/css/style.css" rel="stylesheet" />

  <!-- External JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
  <script src="https://kit.fontawesome.com/0a0492e97d.js" crossorigin="anonymous"></script>
  <script
    src="https://www.paypal.com/sdk/js?client-id=Afublr47iUx9od__o9lROJup9U0wx74gtOgqlGi-xPG8hGRUggDp1497DSQTMaAN9hP5FspYXTg9bZu0"></script>

  <script src="https://cdn.tiny.cloud/1/doicvbneaya0gerwmrc6gn0ei4uw3vsk4znmslowgfwri44v/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
  <script src='https://unpkg.com/xrpl@2.1.0-beta.1'></script>

  <script>
    tinymce.init({
      selector: 'textarea',
      menubar: false
    });
  </script>

  <!-- Page Components -->
  <script src="components/header.js" type="text/javascript"></script>
  <script src="components/hero.js" type="text/javascript"></script>
  <script src="components/streamers.js" type="text/javascript"></script>
  <script src="components/about.js" type="text/javascript"></script>
  <script src="components/services.js" type="text/javascript"></script>
  <script src="components/games.js" type="text/javascript"></script>
  <script src="components/partners.js" type="text/javascript"></script>
  <script src="components/contact.js" type="text/javascript"></script>
  <script src="components/footer.js" type="text/javascript"></script>
  <script src="components/modals.js" type="text/javascript"></script>
  <script src="components/services/gamers.js" type="text/javascript"></script>
  <script src="components/services/creators.js" type="text/javascript"></script>
  <script src="components/services/developers.js" type="text/javascript"></script>
  <script src="components/services/streamers.js" type="text/javascript"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header-component></header-component>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <hero-component></hero-component>
  <!-- End Hero -->

  <!-- ======= Streamers Section ======= -->
  <streamers-component></streamers-component>
  <!-- End Streamers -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <about-component></about-component>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <services-component></services-component>
    <!-- End Services Section -->

    <!-- ======= Games Section ======= -->
    <games-component></games-component>
    <!-- End Games Section -->

    <!-- ======= Partners Section ======= -->
    <partners-component></partners-component>
    <!-- End Partners Section -->

    <!-- ======= Contact Section ======= -->
    <contact-component></contact-component>
    <!-- End Contact Section -->

    <!-- ======= Gamers Service Section ======= -->
    <services-gamers-component></services-gamers-component>
    <!-- ======= End Gamers Section ======= -->

    <!-- ======= Creators Service Section ======= -->
    <services-creators-component></services-creators-component>
    <!-- ======= End Creators Section ======= -->

    <!-- ======= Developers Section ======= -->
    <services-developers-component></services-developers-component>
    <!-- ======= End Developers Section ======= -->

    <!-- ======= Streamers Section ======= -->
    <services-streamers-component></services-streamers-component>
    <!-- ======= End Streamers Section ======= -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer-component></footer-component>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <modals-component></modals-component>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- App JS Files -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/playnft.js"></script>

  <script id="token-template" type="text/x-jquery-tmpl">
      <li id="${tokenId}" data-image="${tokenImage}" data-index="${tokenIndex}" class="list-group-item d-flex list-group-item-action gamers-nft-item">
        <div class="flex-shrink-0 game-icon">
          <img
            id="image-${tokenId}"
            src="${tokenImage}"
            class="img-fluid"
            alt="${tokenName}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <strong>${tokenName} #${tokenIndex}</strong>
          <p>ID: ${tokenId}</p>
          <span id="verify-${tokenId}" class="verify-token"></span>
          <div class="actions">
          </div>
        </div>
      </li>
    </script>

  <script id="creators-token-template" type="text/x-jquery-tmpl">
      <li id="${tokenId}" data-image="${tokenImage}" class="list-group-item d-flex list-group-item-action creators-nft-item">
        <div class="flex-shrink-0 game-icon">
          <img
            id="image-${tokenId}"
            src="${tokenImage}"
            class="img-fluid"
            alt="${tokenName}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <strong>${tokenName}</strong>
          <p>ID: ${tokenId}</p>
          <p>Total Supply: ${tokenSupply}</p>
          <div class="actions">
          </div>
        </div>
      </li>
    </script>

  <script id="games-template" type="text/x-jquery-tmpl">
      <li id="gamers_game_${gameId}" class="list-group-item d-flex list-group-item-action gamers-games-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherId}/${gameId}/icon.png"
            class="img-fluid"
            alt="${gameName}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          
          <strong>${gameName}</strong>
          <p>Status: ${gameStatus}</p>
          <p>{{html gamePlatforms}}</p>
          <div class="actions">
            <a href="#" class="btn-details" data-game-id="${gameId}" data-game-name="${gameName}" data-game-info="${gameInfo}" data-game-icon="${gameIcon}" data-game-platforms="${gamePlatforms}" data-game-publisher="${companyName}" data-game-website="${website}" data-game-companyInfo="${companyInfo}" data-game-publisherId="${publisherId}" data-bs-toggle="modal" data-bs-target="#gamers-game-modal">View Details</a>
          </div>
        </div>
      </li>
    </script>

  <script id="creators-games-template" type="text/x-jquery-tmpl">
      <li id="creators_game_${gameId}" class="list-group-item d-flex list-group-item-action creators-games-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherId}/${gameId}/icon.png"
            class="img-fluid"
            alt="${gameName}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          
          <strong>${gameName}</strong>
          <p>Status: ${gameStatus}</p>
          <p>{{html gamePlatforms}}</p>
          <div class="actions">
            <a href="#" class="btn-details" data-game-id="${gameId}" data-game-name="${gameName}" data-game-info="${gameInfo}" data-game-icon="${gameIcon}" data-game-platforms="${gamePlatforms}" data-game-publisher="${companyName}" data-game-website="${website}" data-game-companyInfo="${companyInfo}" data-game-publisherId="${publisherId}" data-bs-toggle="modal" data-bs-target="#creators-game-modal">View Details</a>
          </div>
        </div>
      </li>
    </script>

  <script id="developers-games-template" type="text/x-jquery-tmpl">
      <li id="${gameId}" class="list-group-item d-flex list-group-item-action creators-games-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherID}/${gameId}/icon.png"
            class="img-fluid"
            alt="${gameName}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          
          <strong>${gameName} ${gameReview}</strong>
          <p>Status: ${gameStatus}</p>
          <p>{{html gamePlatforms}}</p>
          <div class="actions">
            <a href="#" onclick="deleteGame(event, this)" class="btn-details-delete" data-game-id="${gameId}" data-game-info="${gameInfo}">Delete</a>
            <a href="#" class="btn-details" data-game-id="${gameId}" data-game-name="${gameName}" data-game-info="${gameInfo}" data-game-status="${gameStatusValue}" data-game-icon="${gameIcon}" data-game-platformSteam="${gamePlatformSteam}" data-game-platformGoogle="${gamePlatformGoogle}" data-game-platformApple="${gamePlatformApple}" data-bs-toggle="modal" data-bs-target="#developers-game-modal">Edit</a>
            <a href="#" id="developers-games-select" class="btn-details-select" data-game-id="${gameId}">Select</a>
          </div>
        </div>
      </li>
    </script>

  <script id="content-template" type="text/x-jquery-tmpl">
      <li id="gamers_content_${id}" class="list-group-item d-flex list-group-item-action gamers-content-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherID}/${gameId}/${id}/icon.png"
            class="img-fluid"
            alt="${title}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <div class="cost"><sup>$</sup>${cost}</div>
          <strong>${title}</strong>
          <p>Type: ${type}</p>
          <div class="actions">
            <a href="#" class="btn-details" data-content-id="${id}" data-content-gameid="${gameId}" data-content-title="${title}" data-content-info="${info}" data-content-icon="${image}" data-content-info="${info}" data-bs-toggle="modal" data-bs-target="#gamers-content-modal">View Details</a>
          </div>
        </div>
      </li>
    </script>

  <script id="creators-content-template" type="text/x-jquery-tmpl">
      <li id="creators_content_${id}" class="list-group-item d-flex list-group-item-action creators-content-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherID}/${gameId}/${id}/icon.png"
            class="img-fluid"
            alt="${title}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <div class="cost"><sup>$</sup>${cost}</div>
          <strong>${title}</strong>
          <p>Type: ${type}</p>
          <div class="actions">
            <a href="#" class="btn-details" data-content-id="${id}" data-content-gameid="${gameId}" data-content-title="${title}" data-content-info="${info}" data-content-icon="${image}" data-content-info="${info}" data-bs-toggle="modal" data-bs-target="#creators-content-modal">View Details</a>
          </div>
        </div>
      </li>
    </script>

  <script id="developers-content-template" type="text/x-jquery-tmpl">
      <li id="developers_content_${id}" class="list-group-item d-flex list-group-item-action developers-content-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/${publisherID}/${gameId}/${id}/icon.png"
            class="img-fluid"
            alt="${title}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <div class="cost"><sup>$</sup>${cost}</div>
          <strong>${title}</strong>
          <p>Type: ${typetext}</p>
          <p>Status: ${status}</p>
          <p>Code: ${code}</p>
          <div class="actions">
            {{if locked == 0 }}
            <a href="#" onclick="deleteContent(event, this)" id="developers-content-delete" class="btn-details-delete" data-content-id="${id}" data-content-gameid="${gameId}" data-content-info="${info}">Delete</a>
            {{/if}}
            <a href="#" class="btn-details" data-content-id="${id}" data-content-title="${title}" data-content-gameid="${gameId}" data-content-target="${target}" data-content-exclusive="${exclusive}" data-content-icon="${image}" data-content-info="${info}" data-content-type="${type}" data-content-cost="${cost}" data-content-code="${code}" data-bs-toggle="modal" data-bs-target="#developers-content-modal">Edit</a>
          </div>
        </div>
      </li>
    </script>

  <script id="streamers-nfts-template" type="text/x-jquery-tmpl">
      <li id="streamers_nft_${id}" class="list-group-item d-flex list-group-item-action streamers-nft-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="https://playnft.s3.amazonaws.com/nfts/${streamerId}/${id}/icon.png"
            class="img-fluid"
            alt="${name}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <div class="cost">${cost} Bits</div>
          <strong>${name}</strong>
          <p>Status: ${status_text}<br/>
          Supply: ${supply}</p>
          <div class="actions">
            {{if minted == 0 }}
            <a href="#" onclick="deleteNFT(event, this)" id="streamers-nfts-delete" class="btn-details-delete" data-nft-id="${id}" data-nft-description="${description}">Delete</a>
            {{/if}}
            <a href="#" class="btn-details" data-nft-id="${id}" data-nft-name="${name}" data-nft-description="${description}" data-nft-cost="${cost}" data-nft-status="${status}"  data-bs-toggle="modal" data-bs-target="#streamers-nfts-modal">Edit</a>
            <a href="#" id="streamers-nfts-select" class="btn-details-select" data-id="${id}" data-supply="${supply}">Select</a>
          </div>
        </div>
      </li>
    </script>

  <script id="streamers-packages-template" type="text/x-jquery-tmpl">
      <li id="streamers_packages_${id}" class="list-group-item d-flex list-group-item-action streamers-packages-item">
        <div class="flex-shrink-0 game-icon">
          <img
            src="assets/img/package-${id}.png"
            class="img-fluid"
            alt="${name}"
          />
        </div>
        <div class="flex-grow-1 ms-3">
          <div class="cost"><sup>$</sup>${cost}</div>
          <strong>${name}</strong>
          <p>Supply Limit: ${supply}</p>
          <div class="actions" id="streamers-packages-purchase-${id}">
            {{if supply == 10 }}
              <a href="#" id="streamers-packages-select" class="btn-details-select" data-packages-id="${id}" data-nft-id="${nftid}">Select</a>
            {{/if}}
          </div>
        </div>
      </li>
    </script>

    <script id="active-streamers-template" type="text/x-jquery-tmpl">
      <div class="swiper-slide">
        <div class="testimonial-item">
        <div class="profile mt-auto">
            <img
            src="${picture}"
            class="testimonial-img" alt="${name}" onError="this.onerror=null;this.src='assets/img/twitch-v2.svg';">
            <h3>${name}</h3>
            <h4>${nfts} Tokens</h4>

        </div>
        <p>
            <button type="submit" onclick="window.open('https://www.twitch.tv/${name}')">Visit Channel</button>
        </p>

        </div>
      </div>
    </script>
</body>

</html>